# packages in environment at /opt/miniconda3/envs/plos-ou:
#
# Name                                Version          Build                         Channel
_openmp_mutex                         4.5              7_kmp_llvm                    conda-forge
_python_abi3_support                  1.0              hd8ed1ab_2                    conda-forge
accelerate                            1.14.0           pyhcf101f3_0                  conda-forge
adwaita-icon-theme                    49.0             unix_0                        conda-forge
anyio                                 4.14.2           pyhcf101f3_0                  conda-forge
arviz                                 0.22.0           pyhcf101f3_1                  conda-forge
atk-1.0                               2.38.0           hd03087b_2                    conda-forge
aws-c-auth                            0.10.4           h0f08c97_1                    conda-forge
aws-c-cal                             0.9.14           hb9ed60c_4                    conda-forge
aws-c-common                          0.14.2           h84a0fba_0                    conda-forge
aws-c-compression                     0.3.2            hf0b4b85_4                    conda-forge
aws-c-http                            0.11.0           h27f0cb5_4                    conda-forge
aws-c-io                              0.27.3           ha24efe8_1                    conda-forge
aws-c-s3                              0.12.8           hdc61527_1                    conda-forge
aws-c-sdkutils                        0.2.7            hf0b4b85_2                    conda-forge
aws-checksums                         0.2.10           hf0b4b85_4                    conda-forge
blas                                  2.308            openblas                      conda-forge
blas-devel                            3.11.0           8_h11c0a38_openblas           conda-forge
blosc                                 1.21.6           h7dd00d9_1                    conda-forge
brotli                                1.2.0            h7d5ae5b_1                    conda-forge
brotli-bin                            1.2.0            hc919400_1                    conda-forge
bzip2                                 1.0.8            hd037594_9                    conda-forge
c-ares                                1.34.8           h84a0fba_0                    conda-forge
ca-certificates                       2026.6.17        hbd8a1cb_0                    conda-forge
cached-property                       1.5.2            hd8ed1ab_2                    conda-forge
cached_property                       1.5.2            pyha770c72_2                  conda-forge
cachetools                            7.1.4            pyhd8ed1ab_0                  conda-forge
cairo                                 1.18.4           he0f2337_1                    conda-forge
cctools                               1030.6.3         llvm19_1_hd01ab73_4           conda-forge
cctools_impl_osx-arm64                1030.6.3         llvm19_1_he8a363d_4           conda-forge
cctools_osx-arm64                     1030.6.3         llvm19_1_hd01ab73_4           conda-forge
certifi                               2026.6.17        pyhd8ed1ab_0                  conda-forge
cftime                                1.6.5            py312hf57c059_1               conda-forge
clang                                 19.1.7           default_hf9bcbb7_9            conda-forge
clang-19                              19.1.7           default_hf3020a7_9            conda-forge
clang_impl_osx-arm64                  19.1.7           default_hc11f16d_9            conda-forge
clang_osx-arm64                       19.1.7           h75f8d18_33                   conda-forge
clangxx                               19.1.7           default_hc995acf_9            conda-forge
clangxx_impl_osx-arm64                19.1.7           default_hc11f16d_9            conda-forge
clangxx_osx-arm64                     19.1.7           h75f8d18_33                   conda-forge
click                                 8.4.2            pyhc90fa1f_0                  conda-forge
cloudpickle                           3.1.2            pyhcf101f3_1                  conda-forge
compiler-rt                           19.1.7           h855ad52_1                    conda-forge
compiler-rt_osx-arm64                 19.1.7           he32a8d3_1                    conda-forge
cons                                  0.4.7            pyhd8ed1ab_2                  conda-forge
contourpy                             1.3.3            py312h3093aea_4               conda-forge
cpython                               3.12.13          py312hd8ed1ab_0               conda-forge
cycler                                0.12.1           pyhcf101f3_2                  conda-forge
epoxy                                 1.5.10           hc919400_2                    conda-forge
et_xmlfile                            2.0.0            pyhd8ed1ab_1                  conda-forge
etuples                               0.3.10           pyhd8ed1ab_1                  conda-forge
exceptiongroup                        1.3.1            pyhd8ed1ab_0                  conda-forge
filelock                              3.29.7           pyhd8ed1ab_0                  conda-forge
fmt                                   12.1.0           h403dcb5_0                    conda-forge
font-ttf-dejavu-sans-mono             2.37             hab24e00_0                    conda-forge
font-ttf-inconsolata                  3.000            h77eed37_0                    conda-forge
font-ttf-source-code-pro              2.038            h77eed37_0                    conda-forge
font-ttf-ubuntu                       0.83             h77eed37_3                    conda-forge
fontconfig                            2.18.1           h2b252f5_0                    conda-forge
fonts-conda-ecosystem                 1                0                             conda-forge
fonts-conda-forge                     1                hc364b38_1                    conda-forge
fonttools                             4.63.0           py312h04c11ed_0               conda-forge
freetype                              2.14.3           hce30654_1                    conda-forge
fribidi                               1.0.16           hc919400_0                    conda-forge
fsspec                                2026.6.0         pyhd8ed1ab_0                  conda-forge
gdk-pixbuf                            2.44.7           h4e57454_0                    conda-forge
glib-tools                            2.88.2           h246a70f_0                    conda-forge
gmp                                   6.3.0            h7bae524_2                    conda-forge
gmpy2                                 2.3.0            py312he1ee7cc_1               conda-forge
graphite2                             1.3.15           hf6b4638_0                    conda-forge
graphviz                              14.1.2           hec8c438_0                    conda-forge
gtk3                                  3.24.52          hc0f3e19_0                    conda-forge
gts                                   0.7.6            he42f4ea_4                    conda-forge
h11                                   0.16.0           pyhcf101f3_1                  conda-forge
h2                                    4.3.0            pyhcf101f3_0                  conda-forge
h5netcdf                              1.8.1            pyhd8ed1ab_0                  conda-forge
h5py                                  3.16.0           nompi_py312h585e8c8_102       conda-forge
harfbuzz                              14.2.1           hce30654_1                    conda-forge
hdf4                                  4.2.15           h2ee6834_7                    conda-forge
hdf5                                  2.1.0            nompi_hebe1841_110            conda-forge
hf-xet                                1.5.1            py310he76dbf2_0               conda-forge
hicolor-icon-theme                    0.17             hce30654_3                    conda-forge
hpack                                 4.2.0            pyhd8ed1ab_0                  conda-forge
httpcore                              1.0.9            pyh29332c3_0                  conda-forge
httpx                                 0.28.1           pyhd8ed1ab_0                  conda-forge
huggingface_hub                       1.23.0           pyhcf101f3_0                  conda-forge
hyperframe                            6.1.0            pyhd8ed1ab_0                  conda-forge
icu                                   78.3             hef89b57_0                    conda-forge
idna                                  3.18             pyhcf101f3_0                  conda-forge
jinja2                                3.1.6            pyhcf101f3_1                  conda-forge
kiwisolver                            1.5.0            py312h3093aea_0               conda-forge
krb5                                  1.22.2           hfd3d5f3_1                    conda-forge
lcms2                                 2.19.1           hdfa7624_1                    conda-forge
ld64                                  956.6            llvm19_1_he86490a_4           conda-forge
ld64_osx-arm64                        956.6            llvm19_1_ha2625f7_4           conda-forge
lerc                                  4.1.0            h1eee2c3_0                    conda-forge
libabseil                             20260107.1       cxx17_h2062a1b_0              conda-forge
libaec                                1.1.5            h8664d51_0                    conda-forge
libblas                               3.11.0           8_h51639a9_openblas           conda-forge
libbrotlicommon                       1.2.0            hc919400_1                    conda-forge
libbrotlidec                          1.2.0            hc919400_1                    conda-forge
libbrotlienc                          1.2.0            hc919400_1                    conda-forge
libcblas                              3.11.0           8_hb0561ab_openblas           conda-forge
libclang-cpp19.1                      19.1.7           default_hf3020a7_9            conda-forge
libcurl                               8.21.0           h1359186_2                    conda-forge
libcxx                                22.1.8           h55c6f16_0                    conda-forge
libcxx-devel                          19.1.7           h6dc3340_2                    conda-forge
libcxx-headers                        19.1.7           h707e725_2                    conda-forge
libdeflate                            1.25             hc11a715_0                    conda-forge
libedit                               3.1.20250104     pl5321hafb1f1b_0              conda-forge
libev                                 4.33             h93a5062_2                    conda-forge
libexpat                              2.8.1            hf6b4638_1                    conda-forge
libffi                                3.5.2            hcf2aa1b_0                    conda-forge
libfreetype                           2.14.3           hce30654_1                    conda-forge
libfreetype6                          2.14.3           hdfa99f5_1                    conda-forge
libgcc                                15.2.0           hcbb3090_19                   conda-forge
libgd                                 2.3.3            h05bcc79_12                   conda-forge
libgfortran                           15.2.0           h07b0088_19                   conda-forge
libgfortran5                          15.2.0           hdae7583_19                   conda-forge
libglib                               2.88.2           ha08bb59_0                    conda-forge
libharfbuzz                           14.2.1           h5a65909_1                    conda-forge
libharfbuzz-devel                     14.2.1           h5a65909_1                    conda-forge
libiconv                              1.18             h23cfdf5_2                    conda-forge
libintl                               0.25.1           h493aca8_0                    conda-forge
libjpeg-turbo                         3.2.0            h84a0fba_0                    conda-forge
liblapack                             3.11.0           8_hd9741b5_openblas           conda-forge
liblapacke                            3.11.0           8_h1b118fd_openblas           conda-forge
libllvm19                             19.1.7           h8e0c9ce_2                    conda-forge
liblzma                               5.8.3            h8088a28_0                    conda-forge
libnetcdf                             4.10.1           nompi_ha00b61a_201            conda-forge
libnghttp2                            1.68.1           h8f3e76b_0                    conda-forge
libopenblas                           0.3.33           openmp_he657e61_0             conda-forge
libpng                                1.6.58           h132b30e_0                    conda-forge
libprotobuf                           6.33.5           hb82ec63_2                    conda-forge
libpsl                                0.22.0           h92480b3_1                    conda-forge
libraqm                               0.10.5           h45af499_1                    conda-forge
librsvg                               2.62.3           he8aa2a2_0                    conda-forge
libsigtool                            0.1.3            h98dc951_0                    conda-forge
libsqlite                             3.53.3           h1b79a29_0                    conda-forge
libssh2                               1.11.1           h1590b86_0                    conda-forge
libtiff                               4.7.2            h282da08_0                    conda-forge
libtorch                              2.10.0           cpu_generic_h34f749e_5        conda-forge
libuv                                 1.52.1           h1a92334_0                    conda-forge
libwebp-base                          1.6.0            h07db88b_0                    conda-forge
libxcb                                1.17.0           hdb1d25a_0                    conda-forge
libxml2                               2.15.3           h5654f7c_0                    conda-forge
libxml2-16                            2.15.3           h5ef1a60_0                    conda-forge
libzip                                1.11.2           h1336266_0                    conda-forge
libzlib                               1.3.2            h8088a28_2                    conda-forge
llvm-openmp                           22.1.8           hc7d1edf_0                    conda-forge
llvm-tools                            19.1.7           h855ad52_2                    conda-forge
llvm-tools-19                         19.1.7           h91fd4e7_2                    conda-forge
logical-unification                   0.4.7            pyhd8ed1ab_0                  conda-forge
lz4-c                                 1.10.0           h286801f_1                    conda-forge
macosx_deployment_target_osx-arm64    11.0             h214bdd9_7                    conda-forge
markdown-it-py                        4.2.0            pyhd8ed1ab_0                  conda-forge
markupsafe                            3.0.3            py312h04c11ed_1               conda-forge
matplotlib                            3.11.0           py312h1f38498_1               conda-forge
matplotlib-base                       3.11.0           py312h3b4889c_1               conda-forge
mdurl                                 0.1.2            pyhd8ed1ab_1                  conda-forge
minikanren                            1.0.5            pyhd8ed1ab_1                  conda-forge
mpc                                   1.4.0            h169892a_0                    conda-forge
mpfr                                  4.2.2            h6bc93b0_0                    conda-forge
mpmath                                1.3.0            pyhd8ed1ab_1                  conda-forge
multipledispatch                      0.6.0            pyhd8ed1ab_1                  conda-forge
munkres                               1.1.4            pyhd8ed1ab_1                  conda-forge
ncurses                               6.6              h1d4f5a5_0                    conda-forge
netcdf4                               1.7.4            nompi_py311h2615ac9_109       conda-forge
networkx                              3.6.1            pyhcf101f3_0                  conda-forge
nomkl                                 1.0              h5ca1d4c_0                    conda-forge
numpy                                 2.5.1            py312ha003a3f_0               conda-forge
openblas                              0.3.33           openmp_hea878ba_0             conda-forge
openjpeg                              2.5.4            hd9e9057_0                    conda-forge
openpyxl                              3.1.5            py312h2a925e6_3               conda-forge
openssl                               3.6.3            hd24854e_0                    conda-forge
optree                                0.19.1           py312h766f71e_0               conda-forge
packaging                             26.2             pyhc364b38_0                  conda-forge
pandas                                3.0.3            py312h6510ced_0               conda-forge
pango                                 1.56.4           hf80efc4_1                    conda-forge
pcre2                                 10.47            h30297fc_0                    conda-forge
pillow                                12.3.0           py312h4e908a4_0               conda-forge
pip                                   26.1.2           pyh8b19718_0                  conda-forge
pixman                                0.46.4           h81086ad_1                    conda-forge
psutil                                7.2.2            py312hb3ab3e3_0               conda-forge
pthread-stubs                         0.4              hd74edd7_1002                 conda-forge
pybind11                              3.0.1            pyh7a1b43c_0                  conda-forge
pybind11-abi                          11               hc364b38_1                    conda-forge
pybind11-global                       3.0.1            pyhc7ab6ef_0                  conda-forge
pygments                              2.20.0           pyhd8ed1ab_0                  conda-forge
pymc                                  5.24.1           hd8ed1ab_0                    conda-forge
pymc-base                             5.24.1           pyhd8ed1ab_0                  conda-forge
pyparsing                             3.3.2            pyhcf101f3_0                  conda-forge
pytensor                              2.31.7           py312h191a6ad_0               conda-forge
pytensor-base                         2.31.7           np2py312h8216225_0            conda-forge
python                                3.12.13          h8561d8f_0_cpython            conda-forge
python-dateutil                       2.9.0.post0      pyhe01879c_2                  conda-forge
python-gil                            3.12.13          hd8ed1ab_0                    conda-forge
python-graphviz                       0.21             pyhbacfb6d_0                  conda-forge
python_abi                            3.12             8_cp312                       conda-forge
pytorch                               2.10.0           cpu_generic_py312_h4176810_5  conda-forge
pyyaml                                6.0.3            py312h04c11ed_1               conda-forge
qhull                                 2020.2           h420ef59_5                    conda-forge
readline                              8.3              h46df422_0                    conda-forge
rich                                  15.0.0           pyhcf101f3_0                  conda-forge
s2n                                   1.7.5            h1b28cb6_1                    conda-forge
safetensors                           0.8.0            py312hb9d4441_0               conda-forge
scipy                                 1.18.0           py312h4519d97_0               conda-forge
sdkroot_env_osx-arm64                 26.0             ha3f98da_7                    conda-forge
setuptools                            83.0.0           pyh332efcf_0                  conda-forge
sigtool-codesign                      0.1.3            h98dc951_0                    conda-forge
six                                   1.17.0           pyhe01879c_1                  conda-forge
sleef                                 3.9.0            hb028509_0                    conda-forge
snappy                                1.2.2            hada39a4_1                    conda-forge
sniffio                               1.3.1            pyhd8ed1ab_2                  conda-forge
sympy                                 1.14.0           pyh2585a3b_106                conda-forge
tapi                                  1600.0.11.8      h997e182_2                    conda-forge
threadpoolctl                         3.6.0            pyhecae5ae_0                  conda-forge
tk                                    8.6.13           h010d191_3                    conda-forge
toolz                                 1.1.0            pyhd8ed1ab_1                  conda-forge
tornado                               6.5.7            py312h2bbb03f_0               conda-forge
tqdm                                  4.68.4           pyh8f84b5b_0                  conda-forge
typing-extensions                     4.16.0           h69aa097_0                    conda-forge
typing_extensions                     4.16.0           pyhcf101f3_0                  conda-forge
tzdata                                2025c            hc9c84f9_1                    conda-forge
unicodedata2                          17.0.1           py312h2bbb03f_0               conda-forge
wheel                                 0.47.0           pyhd8ed1ab_0                  conda-forge
xarray                                2026.7.0         pyhc364b38_0                  conda-forge
xarray-einstats                       0.10.0           pyhd8ed1ab_0                  conda-forge
xorg-libxau                           1.0.12           hc919400_1                    conda-forge
xorg-libxdmcp                         1.1.5            hc919400_1                    conda-forge
yaml                                  0.2.5            h925e9cb_3                    conda-forge
zlib-ng                               2.3.3            hed4e4f5_1                    conda-forge
zstd                                  1.5.7            hbf9d68e_6                    conda-forge
